<a href="https://colab.research.google.com/github/wendy-coder/DATA-ENGINEERING-GIT-HUB/blob/main/string_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String handling : seperated splits 

```
# This is formatted as code
```

In [8]:
belgium = 'Belgium,10445852,brussels,737966,europe,euro,catholic,dutch,french,german'
items = belgium.split(",")
print(items)
strrr = items[1]
nuumbr = int(items[1])
print(type(strrr) ) 
print(type(nuumbr))

['Belgium', '10445852', 'brussels', '737966', 'europe', 'euro', 'catholic', 'dutch', 'french', 'german']
<class 'str'>
<class 'int'>

In [9]:
if 'belgium'.istitle():
  print('yes')

In [2]:
print('-' * len(belgium))

-------------------------------------------------------------------------

In [3]:
print(':'.join(items)) #.join, joins all the lengths

Belgium:10445852:brussels:737966:europe:euro:catholic:dutch:french:german

In [7]:
strr = "my name is john.          "
output = strr.rstrip(). #removes spaces fromt he right , lstrip removes spaces from the left and strip removes one space only.
print(output)

my name is john.

In [ ]:
strr = "my name is john.          "
output = strr.trim()
print(output)

In [11]:
text = 'hello world'
print(text.count('o'))
if text.startswith('hell'):
   print("It's hell in there")

if text.isalpha():
  print('string is all alpha')

text= '\t\r\n'
if text.isspace():
  print('string is whitespace')

2
It's hell in there
string is whitespace

In [13]:
planets = {'mercury': 57.91,
           'venus': 108.2,
           'Earth': 149.597870,
           'mars': 227.94
           }
for i, key in enumerate (planets.keys(), 1):
  print("{:2d} {:10s} {:06.2f} Gm".format(i, key, planets[key]))

 1 mercury    057.91 Gm
 2 venus      108.20 Gm
 3 Earth      149.60 Gm
 4 mars       227.94 Gm

.capitalise to capitalise a string 
string.lower()
string.center()
string.ljust()
string.rjust()
string.zfill()

In [15]:
text ='hello'
print(text.capitalize)
print(text.lower)

<built-in method capitalize of str object at 0x7f6ec06dcb70>
<built-in method lower of str object at 0x7f6ec06dcb70>